
.links-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.mobile-navigation-items{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.mobile-navigation-items a{
    color: white;
    text-decoration: none;
}
.mobile-navigation-items a:hover{
    color: #a1e1fa;
}
.mobile--search{
    display: flex;
    border-radius: 50px;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}
.mobile-search{
    flex-grow: 4;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50px;
}
input:focus{
    border: none;
    outline: none;
}
.mobile-btn{
    flex-grow: 1;
    height: 100%;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 8px;
    margin: 1.8px;
}

